{% extends "layout.html" %}
{% block content %}
<h1 class="habout">About JobSite</h1>
    <div class="about-section">
        <p class="pabout">Jobsite is a platform that connects job seekers with employers. Our mission is to make the job search process easier and more efficient for everyone involved. We believe that everyone deserves a chance to find their dream job and we are dedicated to helping make that a reality. With Jobsite, you can search for job opportunities and apply to positions all in one place. Start your job search journey with us today!</p>
    </div>
{% endblock content %}